* {
  font-family: "Courgette", cursive;
  margin: 0;
  padding: 0;
}
h1 {
  display: inline;
  font-family: sans-serif;
}
.main {
  background-color: rgb(200, 237, 250);
  max-width: 600px;
  padding: 20px;
}
.search-bar {
  max-width: 400px;
  height: 50px;
}
.current {
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 20px;
}
.current-time {
  margin-top: 20px;
}
.pre,
.wind {
  margin: 10px 0;
  font-size: 15px;
}
.wind {
  margin-left: 30px;
}
.pre {
  margin-left: 10px;
}
.current .emoji {
  font-size: 60px;
  margin: 0 20px;
}
.future .emoji {
  font-size: 30px;
}
.low-temp {
  font-size: 80%;
}
.future {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 15px;
  margin-top: 30px;
}
.future-day {
  border: 1px solid black;
  text-align: center;
  max-width: 100px;
  max-height: 100px;
}
.day-name {
  font-size: 18px;
}
.temp-convert-btn {
  background-color: rgb(106, 245, 255);
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid black;
  transition: 200ms all ease-in-out;
  margin-top: 30px;
}
.temp-convert-btn:hover {
  transform: scale(1.06);
  background-color: rgb(0, 238, 255);
}
